.myworkspace {
    margin-top: 7.5rem;
}
.add-candidate {
    text-align: center;
    color: blueviolet;
}
.showcheckbox {
    display: none !important;
}
.showskill{
    display: none !important;
}
.showdropdown {
    display: none !important;
}